<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSLazyCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B43E19A21F468D9E006C14A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43E19B81F468D9F006C14A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43E19C31F468D9F006C14A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
